# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\MyNotes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea

# repo MyNotes token
# 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
